.white {
  color: #FEFEFE;
}

.yellow {
  color: #C0CA55;
}

.red {
  color: #AD5472;
}

.orange {
  color: #F07C6C;
}

.purple {
  color: #7A69B3;
}

.grey {
  color: #C8C8C8;
}

.black {
  color: #2a2a2a;
}

.white-b {
  background-color: #FEFEFE;
}

.orange-b {
  background-color: #F07C6C;
}

.yellow-b {
  background-color: #C0CA55;
}

.red-b {
  background-color: #AD5472;
}

.grey-b {
  background-color: #C8C8C8;
}

.black-b {
  background-color: #2a2a2a;
}

.op50 {
  opacity: 50%;
}

.red-hover:hover {
  color: #AD5472;
}