.pill {
  padding: 5px 5px 5px 5px;
  font-family: inherit;
  display: inline-block;
  color: #2a2a2a;
  background-color: #FDDE86;
  border-radius: 2px;
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 50px 20px;
}

nav {
  height: 100vh;
  flex: 1;
  max-width: 300px;
  min-width: 300px;
  background-color: #2a2a2a;
  color: #C8C8C8;
  position: fixed;
}

nav > a {
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: inherit;
  font-size: 25px;
  padding: 12px 20px 12px;
  cursor: pointer;
}

nav > ul > li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 20px;
}

nav > a:hover {
  color: #FEFEFE;
  background-color: #7A69B3;
}

li > img {
  margin-right: 14px;
  position: relative;
  top: 5px;
  left: -2px;
}

.content {
  margin-left: 300px;
}

.social-buttons {
  padding: 25px 20px 0 0;
  position: absolute;
  bottom: 25px;
}

.social {
  background-color: #eb1478;
  border-radius: 95px;
  color: #FEFEFE;
  margin-left: 25px;
  text-align: center;
  border: 10px solid #eb1478;
  line-height: 40px;
  font-size: 30px;
  min-width: 39px;
  max-width: 39px;
  max-height: 39px;
  min-height: 39px;
}

.big-underlined {
  border-bottom: 5px solid #7A69B3;
  width: 100%;
  margin-bottom: 50px;
}

.underlined {
  border-bottom: 3px solid #7A69B3;
  margin-bottom: 50px;
  font-weight: bold;
  margin-top: 0px;
  padding: 0 10px 20px 0;
  display: inline;
}

.button {
  transition: background-color;
  font-weight: bold;
  transition-duration: 1s;
  cursor: pointer;
  border: 2px solid #7A69B3;
  padding: 15px 30px 15px 30px;
  font-size: 15px;
  border-radius: 8px;
  color: #7A69B3;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover, .button:active {
  background-color: rgba(122, 105, 179, .25);
}

.small-button {
  transition: background-color;
  font-weight: bold;
  transition-duration: 1s;
  cursor: pointer;
  border: 2px solid #7A69B3;
  padding: 12px 25px 12px 25px;
  font-size: 12px;
  border-radius: 8px;
  color: #7A69B3;
  text-transform: uppercase;
  text-decoration: none;
}

.small-button:hover, .small-button:active {
  background-color: rgba(122, 105, 179, .25);
}

.section {
  border-bottom: 3px solid #C8C8C8;
}

