.social-svg-mask:hover {
  fill: #fa1681 !important;
}

.social-svg-icon {
  fill: #FEFEFE !important;
}

.pill {
  padding: 5px 5px 5px 5px;
  font-family: inherit;
  display: inline-block;
  color: #2a2a2a;
  background-color: #FDDE86;
  border-radius: 2px;
  font-size: 20px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 40px 50px;
}

nav {
  height: 100vh;
  flex: 1;
  width: 300px;
  background-color: #2a2a2a;
  color: #C8C8C8;
}

nav > a {
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 25px;
  padding: 0 20px 20px;
  cursor: pointer;
}

nav > a:hover {
  color: #FEFEFE;
  background-color: #7A69B3;
}
