/* Reset / Override */
*:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #7c8086;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #7c8086;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #7c8086;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #2a2a2a;
  background-color: #FEFEFE;
}

.App {
  height: 100%;
}

*:focus {
  outline: 0;
}